<td>{{id}}</td>
<td><img src="{{imageExtension type}}" class="extension-image" /></td>
<td>{{name}}</td>
<td>{{type}}</td>
<td>{{size}}</td>
<td>
    <form action="/delete/{{id}}" method="POST">
        <button type="submit" class="table-link">delete</button>
    </form>
</td>
<td><a href="/info/{{id}}" class="table-link">info</a></td>
<td><a download="{{name}}" href="upload/{{genname}}" class="table-link">download</a></td>